<header>
  <nav>
    <a [routerLink]="['/']">
      <img alt="Logo" src="/logo-ainulindale-192x192.png" height="70">
    </a>
    <ul>

      <li><a [routerLink]="['/']">🔍 Buscar</a></li>

      <li>Eventos
        <ul>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'270'}">Aldaron Enyalië</a></li>
        </ul>
      </li>
      <li>Categor&iacute;as principales
        <ul>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'8'}">Grandes &Eacute;xitos</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'5'}">Canciones Originales</a></li>
          <li>-----</li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'15'}">Hobbits</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'14'}">Enanos</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'9'}">Elfos</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'33'}">Orcos</a></li>
          <li>-----</li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'11'}">Lamentos</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'18'}">Himnos</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'29'}">Disney</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'86'}">Verano</a></li>
          <li><a [routerLink]="['/canciones']" [queryParams]="{s:'7'}">Tolkiencicos</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <h1 *ngIf="title">{{ title }}</h1>
  <p *ngIf="subtitle">{{ subtitle }}</p>
  <p *ngIf="buttonLabel">
  <a [routerLink]="buttonLink"><b>{{ buttonLabel }}</b></a>
  </p>
</header>
