<footer>
  <hr>
  <p>
    <small>Esta es una aplicación de la
      <a href="http://ainulindale.sociedadtolkien.org" target="_blank">Comisión de Música y Bailes</a>
      de la <a href="http://www.sociedadtolkien.org" target="_blank">Sociedad Tolkien Española</a></small>
  </p>
  <p *ngIf="isInstallable()" style="float: right">
    <a (click)="install()">Instalar la aplicación &nbsp;
    <img src="install.png" height="24" width="24"></a>
  </p>
</footer>

