<app-header title="Cancionero de la Sociedad Tolkien Española">
</app-header>
<main>
  <section>
    <header>
      <h2>Esta aplicación es sólo para socios y simpatizantes</h2>
      <p>El cancionero es una de las estrellas de la
      <a href="http://www.sociedadtolkien.org" target="_blank">Sociedad Tolkien Española</a>, 
      capaz de animar cualquier reunión o Mereth. Aquí tenemos el cancionero
      completo, actualizado periódicamente por los miembros de la
      <a href="http://ainulindale.sociedadtolkien.org" target="_blank">Comisión de
        Música y Bailes</a>.</p>
    </header>
    <form #loginForm="ngForm" (submit)="login()"
      style="display: flex; flex-direction: column; align-items: center;">
      <button type="submit">Acceder al Cancionero</button>
    </form>
    </section>
</main>


