<ng-container *ngIf="(cancion$ | async) as cancion; else notExistsBlock">
  <app-header></app-header>
  <main>
    <section>
      <a href='javascript:history.back();'>Volver</a>
    </section>
    <article>
      <header>
        <h1>{{ cancion.title }}</h1>
        <p *ngIf="cancion.comentarios"
           [innerHtml]="cancion.comentarios"></p>
      </header>
      <p *ngIf="cancion.tipo">
        <strong>Tipo de canción: </strong>{{ cancion.tipo }}
      </p>
      <p *ngIf="cancion.autor">
        <strong>Autor: </strong>{{ cancion.autor }}
      </p>
      <p *ngIf="cancion.titulo_original">
        <strong>Título original: </strong>{{ cancion.titulo_original }}
      </p>
      <p *ngIf="cancion.autor_original">
        <strong>Autor original: </strong>{{ cancion.autor_original }}
      </p>
      <p *ngIf="cancion.letra">
        <strong>Letra: </strong><br />
        <span [innerHtml]="cancion.letra"></span>
      </p>
      <ng-container *ngIf="cancion.materiales.length > 0">
        <p><strong>Archivos:</strong></p>
        <ul>
          <li *ngFor="let material of cancion.materiales">
            <a href="{{ material.doc }}" target="_blank">{{ material.desc }}</a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="cancion.enlaces.length > 0">
        <p><strong>Enlaces:</strong></p>
        <ul>
          <li *ngFor="let enlace of cancion.enlaces">
            <a href="{{ enlace.url }}" target="_blank">{{ enlace.titulo }}</a>
          </li>
        </ul>
      </ng-container>
      <aside>
        <p><a href="{{ cancion.link }}" target="_blank">
          Ver en la web de la Comisión
        </a></p>
      </aside>
    </article>
  </main>
  <app-footer></app-footer>
</ng-container>

<ng-template #notExistsBlock>
  <ng-container *ngIf="loading">
    <app-header></app-header>
    <section>
      <figure>
        <img alt="" src="/assets/loading.gif" width="100" height="100" />
      </figure>
    </section>
  </ng-container>
  <app-header *ngIf="!loading"
              title="Canción no encontrada"
              subtitle="No hemos encontrado la canción indicada."
              buttonLabel="Buscar otra vez"
              [buttonLink]="['/']">
  </app-header>
  <app-footer></app-footer>
</ng-template>
