<app-header title="Cancionero de la Sociedad Tolkien Española"></app-header>
<main>
  <section>
    <a href='javascript:history.back();'>Volver</a>
  </section>
  <section *ngIf="(canciones$ | async) as canciones; else loadingBlock">
    <aside *ngFor="let cancion of canciones">
      <a [routerLink]="['/canciones', cancion.slug]">
        <h3>{{ cancion.title }}</h3>
      </a>
      <p *ngIf="cancion.comentarios">
        <small [innerHtml]="cancion.comentarios"></small>
      </p> 
    </aside>
    <header *ngIf="canciones.length === 0">
      <h3>Esa búsqueda no ha encontrado ninguna canción</h3>
    </header>
  </section>
  <ng-template #loadingBlock>
    <section>
      <figure>
        <img alt="" src="/assets/loading.gif" width="100" height="100" />
      </figure>
    </section>
  </ng-template>
</main>
<app-footer></app-footer>

