<app-header title="Cancionero de la Sociedad Tolkien Española">
</app-header>
<main>
<section>
<h2>"I melë i lindalë, melë i cuilë"</h2>
</section>
  <section>
    <form #searchForm="ngForm" (submit)="search()">
      <label for="search-input">Buscar por título/autor</label>
      <input type="text" id="search-input" name="search-term"
             placeholder="Título o autor"
             [(ngModel)]="searchTerm">
      <div style="text-align:center">
        <button type="submit">Buscar</button>
      </div>
    </form>
  </section>
  <section>
    <p>
      <a [routerLink]="['/canciones']" [queryParams]="{s:''}">Listado completo de canciones</a>
    </p>
  </section>
</main>
<app-footer></app-footer>

